<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <link href="../../reset.scss" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow&display=swap" rel="stylesheet">
    <title>Pokedex</title>
</head>

<body>
    <div class="container-fluid container-red">
    <div>
        <header>
            <nav class="navbar-red">
                <a [href]="'/'">Pokedex</a>
            </nav>
        </header>
    </div>
    <div>
        <article>
            <ul class="list-group" *ngFor="let pokemon of pokemons">
                <li class="list-group-item"><a [href]="'/'+pokemon.name">{{pokemon.name}}</a></li>
            </ul>
            <!-- <pagination [directionLinks]="false" [totalItems]="pokemons.length" [(ngModel)]="currentPage"
                (numPages)="smallnumPages = $event"></pagination> -->
        </article>
    </div>
</div>
<footer class="navbar-red">2019</footer>
</body>

</html>